body{
  padding:0;
  margin:0;
}
.circle-text {
    width:50%;
}
.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #4679BD; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
.circle-text div {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
}

.vid-container{
  position:relative;
  height:100vh;
  overflow:hidden;
}
.bgvid.back {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
}
.inner {
  position: absolute;
}
.inner-container{
  width:330px;
  height:500px;
  position:absolute;
  top:calc(55vh - 300px);
  left:calc(55vw - 300px);
  overflow:hidden;
}
.bgvid.inner{
  top:calc(-55vh + 300px);
  left:calc(-55vw + 300px);
  filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='10'%20/></filter></svg>#blur");
  -webkit-filter:blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  filter:blur(10px);
}
.box{
  position:absolute;
  height:100%;
  width:100%;
  font-family:Helvetica;
  color:#fff;
  /*background:rgba(0,0,0,0.13);*/
  padding:30px 0px;
}
.box h1{
  text-align:center;
  margin:30px 0;
  font-size:30px;
}
.box input{
    display:block;
    border-radius: 15px;
    border: solid 1px #8E96BD;
    background-color: #D9F6FA;
    box-shadow: inset 0 3px 10px #6B9EA8;
    padding:15px;
	width:270px;
	margin:20px auto;
    color: #005;
}

.box input:focus,.box input:active,.box button:focus,.box button:active{
  outline:none;
}
 

.box button{
    display:block;
    border-radius: 15px;
    border: 0;
    background-color: #285073e3;
    box-shadow: inset 0 3px 10px #6B9EA8;
    padding:10px;
	width:300px;
	margin:20px auto;
	font-size:20px;
     color:#fff;
	cursor:pointer;
}
.box button:active{
  background:#27ae60;
}
.box p{
  font-size:14px;
  text-align:center;
}
.box p span{
  cursor:pointer;
  color:#666;
}